{% extends 'base.html' %}
{% block title %} Reminders {% endblock %}
{% block content %}
    <div class="container" style="margin-top: 30px">
        <a class="col-md-auto btn btn-info" href="{% url 'todoapp:add_reminder' %}">Add reminder</a>
        <div class="table-responsive">
            <table class="table">
                {% if reminders %}
                    <h2>{{header|capfirst}}</h2>
                        <thead>
                        <tr>
                        <th>ID</th>
                        <th>Task</th>
                        <th>Date</th>
                        </thead>
                        <tbody>
                            {% for reminder in reminders %}
                            <tr>
                                <td>
                                {{ reminder.id }}
                                </td>
                                <td>
                                <a href="{% url 'todoapp:show_task' reminder.task_id %}">{{ reminder.task_id }}</a>
                                </td>
                                <td>{{ reminder.date }}</td>
                                <td>
                                    <a href="{% url 'todoapp:edit_reminder' reminder.id %}" class="btn btn-dark">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <form class="inline-block" action="{% url 'todoapp:delete_reminder' reminder.id %}" method="post">
                                    {% csrf_token %}
                                        <button type='submit' class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                {% else %}
                    <div class="alert alert-info">You dont have any reminders</div>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}