{% extends 'base.html' %}
{% block title %} Tasks {% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top: 30px">
      <div class="row">
        <nav class="col-md-2 bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link
                  {% if nav_active == 'own' %} active {% endif %}"
                   href="{% url 'todoapp:own_tasks' %}">
                  <i class="fas fa-home fa-fw big-icon"></i>
                  My
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link
                   {% if nav_active == 'available' %} active {% endif %}"
                   href="{% url 'todoapp:available_tasks' %}">
                  <i class="fas fa-users fa-fw big-icon"></i>
                  Available
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link
                  {% if nav_active == 'assigned' %} active {% endif %}"
                  href="{% url 'todoapp:assigned_tasks' %}">
                  <i class="fas fa-hands-helping fa-fw big-icon"></i>
                  Assigned
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link
                   {% if nav_active == 'archived' %} active {% endif %}"
                   href="{% url 'todoapp:archived_tasks' %}">
                  <i class="fas fa-archive fa-fw"></i>
                  Archived
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link
                  {% if nav_active == 'done' %} active {% endif %}"
                  href="{% url 'todoapp:done_tasks' %}">
                  <i class="fas fa-check fa-fw big-icon"></i>
                  Done
                </a>
              </li>
            </ul>
            <a href="{% url 'todoapp:add_task' %}" class='btn btn-primary'>Add task</a>
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Folders:</span>
              <a class="d-flex align-items-center text-muted" href="{% url 'todoapp:add_folder' %}">
                <i class="far fa-plus-square big-icon"></i>
              </a>
            </h5>
            <ul class="nav flex-column">
              {% for folder in folders %}
                  <li class="nav-item">
                    <a class="nav-link inline-block
                      {% if nav_active == folder.id %} active {% endif %}"
                       href="{% url 'todoapp:folder_tasks' folder.id %}">
                      <i class="far fa-folder big-icon"></i>
                      {{ folder.name|truncatechars:18|title}}
                    </a>
                    <a class="" href="{% url 'todoapp:edit_folder' folder.id %}">
                        <span class="far fa-edit fa-fw big-icon"></span>
                    </a>
                    <form class="float-md-right" action="{% url 'todoapp:delete_folder' folder.id %}" method='post'>
                    {% csrf_token %}
                        <button type="submit" href= "{% url 'todoapp:delete_folder' folder.id %}">
                            <span class="fas fa-trash-alt fa-fw big-icon"></span>
                        </button>
                    </form>
                  </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
      <div class="col-md 8 offset-2" style="margin-right: 20px" >
        {% if tasks %}
            {% include 'tasks/tasks_template.html' with tasks=tasks %}
        {% else %}
             <div class="alert-info align-content-center">
                  <h4 class="alert-heading">Well done!</h4>
                  <p>
                      You dont have any tasks in this location.
                  </p>
             </div>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}