{% extends 'base.html' %}
{% block title %} Details {% endblock %}
{% block content %}

<div class="container" style="padding-bottom: 40px">
    <h3>Task details</h3>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                      <th>ID:</th>
                      <td>{{task.id}}</td>
                    </tr>
                    <tr>
                      <th>Name:</th>
                      <td>{{task.name}}</td>
                    </tr>
                    <tr>
                        <th>Owner:</th>
                        <td>{{task.owner}}</td>
                    </tr>
                    <tr>
                        <th>Assigned:</th>
                        <td>{{task.assigned|default:'None'}}</td>
                    </tr>
                    <tr>
                      <th>Description:</th>
                      <td>{{task.description|default:'No description'}}</td>
                    </tr>
                    <tr>
                      <th>Priority:</th>
                      <td>{{ task.priority.value }}</td>
                    </tr>
                    <tr>
                      <th>Status:</th>
                      <td>{{ task.status.value }}</td>
                    </tr>
                        <tr>
                      <th>Start date:</td>
                      <td>{{task.start_date}}</td>
                    </tr>
                    <tr>
                      <th>End date:</td>
                      <td>{{task.end_date}}</td>
                    </tr>
                    <tr>
                    <tr>
                      <th>Event:</td>
                      <td>{{task.event}}</td>
                    </tr>
                      <th>Parent task:</td>
                      <td> {% if task.parent_task_id|default:'None' %}
                            <a href="{% url 'todoapp:show_task' task.id %}">
                            {{ task.parent_task_id }}
                            </a>
                           {% endif %}
                      </td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Members:
                            <div class="inline-block mr-auto">
                                <a class="btn button" href="{% url 'todoapp:share_task' task.id %}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </th>
                        <td>
                            {% if task.members %}
                                {% for member in task.members|slice:"1:" %}
                                    <a class="btn btn-dark" href="{% url 'todoapp:unshare_task' task.id member.user %}">
                                        <i class="fas fa-times-circle">{{ member.user }}</i>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                        <th>Created:</td>
                        <td>{{task.created}}</td>
                    </tr>
                    <tr>
                      <th>Updated:</td>
                      <td>{{task.updated}}</td>
                    </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        {% if task.status.value != 'Archived' %}
            <a href="{% url 'todoapp:edit_task' task.id %}" class="btn btn-dark">
                Edit
            </a>
            {% if task.status.value != 'Done' %}
                <form class="inline-block" action="{% url 'todoapp:done_task' task.id %}" method="post">
                {% csrf_token %}
                    <button type='submit' class="btn btn-success" onclick="return confirm('Are you sure you want to done task?')">
                        Done
                    </button>
                </form>
                <a href="{% url 'todoapp:add_subtask' task.id %}" class="btn btn-info">
                    Add subtask
                </a>
           {% endif %}
            <form class="inline-block" action="{% url 'todoapp:archive_task' task.id %}" method="post">
                {% csrf_token %}
                <button type='submit' class="btn btn-danger" onclick="return confirm('Are you sure you want to archive task?')">
                    Archive
                </button>
            </form>
        {% else %}
        <form class="inline-block" action="{% url 'todoapp:delete_task' task.id %}" method="post">
            {% csrf_token %}
            <button type='submit' class="btn btn-danger" onclick="return confirm('Are you sure you want to delete task?')">
                Delete
            </button>
        </form>
            {% endif %}
            <input class='btn btn-primary' type=button value="Back" onClick="javascript:history.go(-1);">
    </div>

    <div class="container-fluid" style="margin-top: 20px">
    {% if subtasks %}
            <div class="col-md 8">
                <div class="table-responsive">
                    <table class="table" id="data-table">
                            <h2>{{Subtasks}}</h2>
                                <thead>
                                <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                    {% for task in subtasks %}
                                    <tr>
                                        <th>
                                        <a href="{% url 'todoapp:show_task' task.id %}">{{ task.id }}</a>
                                        </th>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.start_date}}</td>
                                        <td>{{ task.end_date}}</td>
                                        <td>{{ task.status.value }}</td>
                                        <td>{{ task.priority.value}}</td>
                                        <td>
                                            {% include "tasks/buttons_template.html" %}
                                            <form class="inline-block" action="{% url 'todoapp:detach_task' task.id %}" method="post">
                                                {% csrf_token %}
                                                <button type='submit' class="btn btn-danger" onclick="return confirm('Are you sure you want to detach task?')">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                    </table>
                </div>
            </div>
    <script>
        $(document).ready( function () {
        $('#data-table').DataTable({
            "language": {
               "lengthMenu": "Show _MENU_ subtasks" ,
               "zeroRecords": "No matching subtasks found",
               "info": "Showing _START_ to _END_ of _TOTAL_ subtasks",
               "infoEmpty": "Showing 0 to 0 of 0 subtasks",
               "infoFiltered": "(filtered from _MAX_ total subtasks)"},
            "lengthMenu": [ 5, 10, 25, 50, 75, 100 ]
        });
    } );
    </script>
    {% endif %}
    </div>
</div>
{% endblock %}
