{% extends 'base.html' %}
{% block title %} Details {% endblock %}
{% block content %}
<div class="container">
<h2>Task details</h2>
<table class="table">
  <tbody>
    <tr>
      <td class="title">ID:</td>
      <td>{{task.id}}</td>
    </tr>
    <tr>
      <td class="title">Name:</td>
      <td>{{task.name}}</td>
    </tr>
    <tr>
        <td class="title">Owner:</td>
        <td>{{task.owner}}</td>
    </tr>
    <tr>
        <td class="title">Assigned:</td>
        <td>{{task.assigned}}</td>
    </tr>
    <tr>
      <td class="title">Description:</td>
      <td>{{task.description}}</td>
    </tr>
    <tr>
      <td class="title">Priority:</td>
      <td>{{ task.priority.value }}</td>
    </tr>
    <tr>
      <td class="title">Status:</td>
      <td>{{ task.status.value }}</td>
    </tr>
        <tr>
      <td class="title">Start date:</td>
      <td>{{task.start_date}}</td>
    </tr>
    <tr>
      <td class="title">End date:</td>
      <td>{{task.end_date}}</td>
    </tr>
    <tr>
    <tr>
      <td class="title">Event:</td>
      <td>{{task.event}}</td>
    </tr>
      <td class="title">Parent task:</td>
      <td>
        pass
      </td>
    </tr>
    <tr>
        <td class="title">Created:</td>
        <td>{{task.created}}</td>
    </tr>
    <tr>
      <td class="title">Updated:</td>
      <td>{{task.updated}}</td>
    </tr>
    <tr>
      <td class="title">Subtasks:</td>
      <td>
       pass
    </tr>
  </tbody>
</table>
</div>
{% endblock %}