<table id="data-table" class="table">
        <h2>{{header|capfirst}}</h2>
            <thead>
            <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Actions</th>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <th>
                    <a href="{% url 'todoapp:show_task' task.id %}">{{ task.id }}</a>
                    </th>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date}}</td>
                    <td>{{ task.end_date}}</td>
                    <td>{{ task.status.value }}</td>
                    <td>{{ task.priority.value}}</td>
                    <td>
                        {% include "tasks/buttons_template.html" %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
</table>
<script>
    $(document).ready( function () {
    $('#data-table').DataTable({
            "language": {
               "lengthMenu": "Show _MENU_ tasks" ,
               "zeroRecords": "No matching tasks found",
               "info": "Showing _START_ to _END_ of _TOTAL_ tasks",
               "infoEmpty": "Showing 0 to 0 of 0 tasks",
               "infoFiltered": "(filtered from _MAX_ total tasks)"},
             "lengthMenu": [ 5, 10, 25, 50, 75, 100 ],
             "iDisplayLength": 10
        });
} );
</script>
